{% extends 'base.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block content %}
<div class="container-login">
{# <br><br><br> #}
<form method="post">
    {# {% if error %}
    
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}


    <table><tr>

    <td class="formulaire-login">
    <br><br><br><br><br>
    <div class="titre-login">Bienvenue chez KMTC</div>
    <div class="connect">Connectez-vous</div>
    <p class="connect2">Pas encore inscrit ?
    <a href="register" class="connect2" >Inscrivez-vous</a></p>
    <p><label class="legende-login" for="inputEmail">Email</label></p>
    <p><input class="champs-a-remplir"type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></p>
    <p><label class="legende-login" for="inputPassword">Mot de Passe</label></p>
    <p><input class="champs-a-remplir"type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></p>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label class="legende-login">
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <button class="btn-connexion" type="submit">
        Connexion
    </button>

     </td></div>

<td> <img src="img/cubes2.png" class="image-cubes"/></td></tr></table>

</form></div>
{% endblock %}