{% extends 'base.html.twig' %}

{# {% block title %}Créer un compte{% endblock %} #}

{% block content %}
<div class="container-register">
<table><tr>



    <td class="formulaire-register">
    <span class="marge-navbar"> </span>
    <div class="titre-register">Créez votre compte</div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

        <p><label class="legende-register" for="registrationForm_email">Email</label></p>
        <p>{{ form_widget(registrationForm.email, {'attr': {'class': 'champs-register', 'id': 'registrationForm_email'}}) }}</p>

        <p><label class="legende-register" for="registrationForm_plainPassword">Mot de Passe</label></p>
        <p>{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'champs-register', 'id': 'registrationForm_plainPassword'}}) }}</p>

        <p><label class="legende-register" for="registrationForm_nom">Nom</label></p>
        <p>{{ form_widget(registrationForm.nom, {'attr': {'class': 'champs-register', 'id': 'registrationForm_nom'}}) }}</p>

        <p><label class="legende-register" for="registrationForm_prenom">Prénom</label></p>
        <p>{{ form_widget(registrationForm.prenom, {'attr': {'class': 'champs-register', 'id': 'registrationForm_prenom'}}) }}</p>

        <p><label class="legende-register" for="registrationForm_telephone">Téléphone</label></p>
        <p>{{ form_widget(registrationForm.telephone, {'attr': {'class': 'champs-register', 'id': 'registrationForm_telephone'}}) }}</p>


        <h5>Votre adresse</h5>
        {{ form_widget(registrationForm.adresseUser, {'attr': {'class': 'champs-adresses'}}) }}

        <p>{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'id': 'registrationForm_agreeTerms'}}) }}</p>
    
    <button class="btn-creer" type="submit">Créer</button></div>
    {{ form_end(registrationForm) }}

</td>
    <td class="image-td"> <img src="img/cubes1.png" class="image-cubes1"/></td></tr></table>
    </div>
{% endblock %}