{% extends 'base.html.twig' %}

{% block content %}
<p class="marge-navbar"> </p>
<div class="formulaire-commande">
    <h1>COMMANDE</h1>

    {{ form_start(commandeform) }}
    {{ form_errors(commandeform) }} {# Afficher les erreurs globales du formulaire #}

    {% if user %}
        <p>Bienvenue {{ user.prenom }} !</p>
    {% endif %}

    <h2>Informations Expéditeur</h2>
    <br>
    <table>
        <tr>
            <td>
                <h5>Adresse de Facturation</h5>
                <label>
                    {# <input type="checkbox" id="useUserBillingAddress"> Utiliser mon adresse utilisateur #}
                </label>
                {{ form_widget(commandeform.adresseFacturation, {'attr': {'class': 'champs-adresses'}}) }}
            </td>
            <td>
                <h5>Adresse d'expédition</h5>
                <label>
                    {# <input type="checkbox" id="useUserShippingAddress"> Utiliser mon adresse utilisateur #}
                </label>
                {{ form_widget(commandeform.adresseExpedition, {'attr': {'class': 'champs-adresses'}}) }}
            </td>
        </tr>
    </table>

    <h3>Veuillez remplir les dimensions de votre colis</h3>

    <div class="format-colis">
        {{ form_row(commandeform.hauteur) }}
        {{ form_row(commandeform.largeur) }}
        {{ form_row(commandeform.longueur) }}
        {{ form_row(commandeform.poids) }}
    </div>

    <h2>Informations Destinataire</h2>
    <table class="identite-destinataire">
        <tr>
            <td>
                {{ form_row(commandeform.nomDestinataire, {'attr': {'class': 'champs-identite-destinataire'}}) }}
            </td>
            <td>
                {{ form_row(commandeform.prenomDestinataire, {'attr': {'class': 'champs-identite-destinataire'}}) }}
            </td>
        </tr>
    </table>

    <table class="choix-destination">
        <tr>
            <td>
                <h4 class="titre-choix-destination">Choisissez d'envoyer votre colis dans un de nos relais</h4>
                {{ form_row(commandeform.relais, {'attr': {'class': 'champs-identite-destinataire'}}) }}
                
            </td>
            <td class="choix-adresse-destination">
                <h4 class="titre-choix-destination">Ou bien à l'adresse de votre destinataire</h4>
                {{ form_widget(commandeform.adresseDestination, {'attr': {'class': 'champs-adresses'}}) }}
            </td>
        </tr>
    </table>

    {{ form_widget(commandeform.COMMANDER, {'attr': {'class': 'btn-creer'}}) }}

    {{ form_end(commandeform) }}
{% for commande in commandes %}
<div class="card w-50 mt-4">
    <div class="card-body">
        <h5 class="card-title">Suivi de Commande</h5>
        <p class="card-text">Liste des commandes en cours</p>
        <a href="{{ path('app_suivi_commande', {'id': commande.id}) }}" class="btn-creer">Suivre ma commande</a>
        <a href="{{ path('app_suivi_commande', {'id': commande.id}) }}">Suivi de commande</a>
    </div>
</div>
{% endfor %}
    {# <div class="card w-50 mt-4">
        <div class="card-body">
            <h5 class="card-title">Suivi de Commande</h5>
            <p class="card-text">Liste des commandes en cours</p>
            <a href="{{ path('app_suivi_commande', {'id': commande.id}) }}" class="btn-creer">Suivre ma commande</a>
            <a href="{{ path('app_suivi_commande', {'id': commande.id}) }}">Suivi de commande</a>
        </div>
    </div> #}
</div>

{% endblock %}