{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block content %}

<div class="formulaire-commande">
    <h1 class="text-center">COMMANDE</h1>
    
    {# Afficher les messages flash de succès et d'erreur #}
    {#{% for flash in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    
    {% for flash in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %} #}

    {{ form_start(commandeform) }}
    {{ form_errors(commandeform) }} {# Afficher les erreurs globales du formulaire #}
    
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Nouvelle Commande</h5>
            
            {# Affichage du nom de l'utilisateur, si disponible #}
            {% if user %}
                <p>Bienvenue, {{ user.nom }}!</p>
            {% endif %}

            <h5> Informations Expediteur</h5>
            <br>
            {# Champ pour l'adresse de facturation #}
            <h5> Adresse de Facturation</h5>
            {{ form_row(commandeform.adresseFacturation) }}
            <p>Veuillez remplir les dimensions de votre colis </p>
            
            {# Champs pour les dimensions du colis #}
            {{ form_row(commandeform.hauteur) }}
            {{ form_row(commandeform.largeur) }}
            {{ form_row(commandeform.longueur) }}
            {{ form_row(commandeform.poids) }}

            <h5> Informations Destinataire</h5>
            <div class="form-group">
                {{ form_row(commandeform.nomDestinataire) }}
                {{ form_row(commandeform.prenomDestinataire) }}
                {{ form_row(commandeform.relais) }}
                {#{{ form_row(commandeform.adresseDestination) }}#}
                
            </div>

            {# Bouton de soumission du formulaire #}
            {{ form_widget(commandeform.COMMANDER, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
    
    {{ form_end(commandeform) }}
    
    <div class="card w-50 mt-4">
        <div class="card-body">
            <h5 class="card-title">Suivi de Commande</h5>
            <p class="card-text">Liste des commandes en cours</p>
            <a href="#" class="btn btn-primary">Suivre ma commande</a>
        </div>
    </div>
</div>

{% endblock %}
