<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap" rel="stylesheet">
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
      {{ encore_entry_script_tags('app') }}
        {% endblock %}


</head>
<body>
    <nav>
        <a href="/home#accueil" class="nav-icon" aria-label="homepage" aria-current="page">
        <img class="img" src="{{ asset('img/logo-2.png') }}" alt="Logo"/>
            <span>C'est dans la boîte</span>
        </a>

        <div class="main-navlinks">
            <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navlinks-container">
                <a href="/home#accueil" aria-label="homepage" aria-current="page">Accueil</a>
                <a href="/home#apropos">A propos de nous</a>
                <a href="/home#services">Services</a>
                <a href="/home#contact">Contact</a>

            </div>
        </div>

<div class="nav-authentication">
    {% if app.user %}
        <a href="/profil" class="user-toggler" aria-label="Mon profil">
            <img src="{{ asset('img/account_connected.png') }}" class="user-toggler img" alt="user-icon">
        </a>
        <div class="sign-btns">
        {# <button type="button" onclick="window.location.href='/profil'">Mon profil</button>
            <button type="button" onclick="window.location.href='/logout'">Déconnexion</button> #}
        <button type="button" onclick="location.assign('/profil')">Mon profil</button>
    <button type="button" onclick="location.assign('/logout')">Déconnexion</button>
        </div>
        <a href="/logout" class="user-toggler" aria-label="Se déconnecter">
            <img src="{{ asset('img/se-deconnecter2.png') }}" alt="logout-icon">
        </a></div>
    {% else %}
        <a href="login" class="user-toggler" aria-label="Se connecter">
            <img src="{{ asset('img/account.png') }}" class="user-toggler img" alt="user-icon">
        </a>
        <div class="sign-btns">
            <button type="button" onclick="window.location.href='login'">Connexion</button>
            <button type="button" onclick="window.location.href='register'">Inscription</button>
        </div>
    {% endif %}
</div>
    </nav>

    <main class="main-content">
        {% block content %}
         {# </br></br></br></br></br></br></br></br> #}
        {% endblock %}
    </main>

    <footer class="footer-bar">
        <div>
            <div>Copyright © 2023 KMTC</div>
            <p>
                <span>All Rights Reserved | </span>
                <a href="terms_and_conditions.html">Terms and Conditions</a>
                <span> | </span>
                <a href="privacy_policy.html">Privacy Policy</a>
            </p>
        </div>
    </footer>

</body>
</html>
