{% extends 'base.html.twig' %}

{% block title %} Modification des informations de l'utilisateur {% endblock %}

{% block content %}
    <div>
        <form class="form-horizontal" method="post">
            {% form_theme editUserForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(editUserForm, {'attr': {'class': 'form-horizontal'}}) }}

            <div>
                {{ form_row(editUserForm.nom) }}
            </div>

            <div>
                {{ form_row(editUserForm.prenom) }}
            </div>

            <div>
                {{ form_row(editUserForm.telephone) }}
            </div>

            <div>
                {{ form_row(editUserForm.password) }}
            </div>

            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

            {{ form_end(editUserForm) }}
        </form>
    </div>
{% endblock %}
