{% extends 'base.html.twig' %}

{% block content %}
<div class="body-sans-base"> 
    <br><br><br><br><br><br><br>
    <h1>Mon profil</h1>
    <dl>
        <dt>Nom de l'utilisateur :</dt>
        <dd>{{ app.user.nom }}</dd>
        <dt>Prénom de l'utilisateur :</dt>
        <dd>{{ app.user.prenom }}</dd>
        <dt>Téléphone de l'utilisateur :</dt>
        <dd>{{ app.user.telephone }}</dd>
        <dt>Adresse de l'utilisateur :</dt>
        {% if app.user.adresseUser %}
            <dd>
                {{ app.user.adresseUser.numero }} {{ app.user.adresseUser.nom }}, {{ app.user.adresseUser.codePostal }} {{ app.user.adresseUser.ville }}
            </dd>
        {% else %}
            <dd>Aucune adresse renseignée</dd>
        {% endif %}
        <a href="{{ path('commande_historique') }}">Historique des Commandes</a>
        <br><br><br><br><br><br><br><br><br><br>
    </dl>
</div>
{% endblock %}
